@font-face {
    font-family: 'Signature';
    src: url('/fonts/signature.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Body';
    src: url('/fonts/body.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-signature: 'Signature';
}

body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: calc(100vh - env(safe-area-inset-bottom));
}
