.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calendarAction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: calc(1em + 0.25vw);
}

.calendarActionText {
    margin-left: 0.5rem;
    color: black;
    text-decoration: none;
}

.quickActions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quickAction {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quickActionText {
    margin-left: 0.5rem;
    color: black;
    text-decoration: none;
}

.loaderCenterer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.createAppointmentForm {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    row-gap: 1rem;
    grid-template-areas:
        'createAppointmentFormPatients'
        'createAppointmentFormServices'
        'createAppointmentFormLocations'
        'createAppointmentFormPriceDuration';
}

.createAppointmentFormPriceDuration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}