.buttonContainer {
    padding: 0.5rem;
}

.mobileOpenButton {
    height: 4rem;
    font-size: calc(1.5em + 0.5vw);
    font-weight: 500;
    background-color: #495057;
    transition: all 0.2s ease-in-out;
}

.mobileOpenButton:hover {
    background-color: #adb5bd;
}

.title {
    font-size: 24px;
    margin-top: 0.5rem;
}

.sendButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
